@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

html {
    min-height: 100%;
}

body {
        font-family: Mochiy Pop P One, sans-serif;
        background: linear-gradient(45deg, #f8394f, #25adfc) no-repeat;
        text-align: center;
        }


/* styles that apply to all pages */
.sections {
    margin-top: 50px;
}

.sections i {
    padding-left: 10px;
    padding-right: 10px;
}

/* heading and logo */

#head {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    
}
#left-header {
    font-size: 3vw;
    width: 30%;
    margin-top: 130px;
}

#center-image {
    background-image: url('../images/Design_1-removebg-preview.png');
    width: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    height: 350px;
}

#right-header {
    font-size: 3vw;
    width: 30%;
    margin-top: 130px;
}

/* nav-bar */

#nav-bar {
    font-size: 3vw;
    font-weight: 600;
    }
    
    #nav-bar li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    
}

    #nav-bar a {
        text-decoration: none;
        color:inherit;
    }
    
    #nav-bar a:hover {
        border-bottom: 5px solid #000000;
    }
    
    .active {
        border-bottom: 5px solid #000000;
        }

    /* welcome */

    #welcome {
        padding-top: 20px;
    }

    #welcome h2 {
        font-size: 2vw;
    }

    #welcome p {
        font-size: 2vw;
        display: inline-table;
    }

    /* find us here */

    #find-us-here {
        font-size: 2vw;
    }

    #find-us-here iframe {
        width: 50%;
    }

    /* contact */

    #contact h2 {
        font-size: 2vw;
    }

    #contact p {
         font-size: 2vw;
    }

    /* opening times */

    #opening-times h2 {
        font-size: 2vw;
    }

    #opening-times h3 {
        font-size: 2vw;
    }
    
    #opening-times  div {
        display: inline-table;
        margin-left: 5px;
        margin-right: 5px;
    }

    /* food and games menus */

    #food-menu, #games-menu {
        margin-bottom: 100px
    }

    #food-menu div {
        padding-top: 20px;
    }

    #food-menu h1 {
        font-size: 2vw;
    }

    #food-menu p {
        font-size: 2vw;
    }

    #food-menu i {
        margin-left: 20px;
        margin-right: 20px;
    }

    #games-menu div {
        padding-top: 20px;
    }

    #games-menu h1 {
        font-size: 2vw;
    }

    #games-menu p {
        font-size: 2vw;
    }

    #games-menu i {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* book a table */

    #book-a-table {
        margin-bottom: 600px;
        padding-top: 20px;
    }

    #book-a-table h1 {
        font-size: 2vw;
    }

    #book-a-table label {
        text-align: center;
        font-size: 2vw;
     }

    #book-a-table input {
       text-align: center;
       font-size: 2vw;
    }

   /* footer */


   .social-networks {
    margin-top: 100px;
   }

   .social-networks li {
    display: inline;
    font-size: 2vw;
}

.social-networks i {
    width: 24%;
    color: #25adfc
}

/* media query for screens with min-width of 768 */

@media only screen and (min-width: 768px) {

   header li {
       font-size: 30px;
   }
   
    #head div {
        font-size: 30px;
        line-height: 40px;  
    }

    .sections h2 {
     font-size: 30px;
    }

    #contact h2 {
        font-size: 30px;
    }

    #opening-times h2 {
        font-size: 30px;
       }

    #opening-times h3 {
        font-size: 15px;
       }

       footer a {
           font-size: 30px;
       }
}


/* media query for screens with min-width of 1200 */

@media only screen and (min-width: 1200px) {

    #left-header  {
        margin-top: 50px;
     }

    #left-header h1 {
       font-size: 100px;
    }

    #right-header  {
        margin-top: 50px;
     }
    
    #right-header h1 {
       font-size: 100px;
    } 

    #welcome h2 {
        font-size: 40px;
    }


    #nav-bar li {
        font-size: 40px;
        margin-left: 40px;
        margin-right: 40px ;
    }

    #welcome p {
        font-size: 35px;
    }

    #contact h2 {
        font-size: 40px;
    }

    #contact p {
        font-size: 30px;
    }

    #opening-times h2 {
        font-size: 40px;
    }

    #opening-times h3 {
        font-size: 25px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #food-menu h1 {
        font-size: 40px;
    }

    
    #food-menu p {
        font-size: 30px;
    }

    #games-menu h1 {
        font-size: 40px;
    }

    
    #games-menu p {
        font-size: 30px;
    }

    #book-a-table h1 {
        font-size: 40px;
    }

    #book-a-table label {
        font-size: 30px;
    }

    footer a {
        font-size: 40px;
    }
    }