@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

html {
    min-height: 100%;
}

body {
        font-family: Mochiy Pop P One, sans-serif;
        background: linear-gradient(45deg, #f8394f, #25adfc) no-repeat;
        text-align: center;
        }

.index-sections {
    margin-top: 100px;
}

/* heading and logo */

#left-header {
    float: left;
    margin: 0 auto;
    font-size: 40px;
    padding-top: 50px;
}

#center-image {
    background-image: url('../images/Design_1-removebg-preview.png');
    height: 400px; 
    width: 35%;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    display: inline-block;
    padding-left: 40px;
}

#right-header {
    margin: 0 auto;
    float: right;
    font-size: 40px;
    padding-top: 50px;
    padding-right: 10px;
}

/* nav-bar */

#nav-bar {
    font-size: 40px;
    letter-spacing: 4px;
    }

#nav-bar li {
    list-style: none;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

    #nav-bar a {
        text-decoration: none;
        color:inherit;
    }
    
    #nav-bar a:hover {
        border-bottom: 5px solid #000000;
    }
    
    .active {
        border-bottom: 5px solid #000000;
        }

/* welcome section */
    
    #welcome h2 {
        font-size: 60px;
    }

    #welcome p {
        font-size: 30px;
        display: inline-table;
    }

    /* find us here */

    #find-us-here {
        font-size: 30px;
    }

    /* opening times */

    #opening-times h2 {
        font-size: 45px;
    }
    
    #opening-times h3, h4 {
        font-size: 20px;
    }
    
    #opening-times  div {
        display: inline-table;
        margin-left: 40px;
    }

   /* footer */

   .social-networks {
    margin-top: 100px;
   }

   .social-networks li {
    display: inline;
    font-size: 50px;
}

.social-networks i {
    width: 24%;
    color: #25adfc
}
