@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

html {
    min-height: 100%;
}

body {
        font-family: Mochiy Pop P One, sans-serif;
        background: linear-gradient(45deg, #f8394f, #25adfc) no-repeat;
        text-align: center;
        }


/* styles that apply to all pages */
.sections {
    margin-top: 100px;
}

.sections i {
    padding-left: 30px;
    padding-right: 30px;
}

/* heading and logo */

#left-header {
    float: left;
    margin: 0 auto;
    font-size: 40px;
    padding-top: 50px;
}

#center-image {
    background-image: url('../images/Design_1-removebg-preview.png');
    height: 400px; 
    width: 35%;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    display: inline-block;
    padding-left: 40px;
}

#right-header {
    margin: 0 auto;
    float: right;
    font-size: 40px;
    padding-top: 50px;
    padding-right: 10px;
}

/* nav-bar */

#nav-bar {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 600;
    }

#nav-bar li {
    list-style: none;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

    #nav-bar a {
        text-decoration: none;
        color:inherit;
    }
    
    #nav-bar a:hover {
        border-bottom: 5px solid #000000;
    }
    
    .active {
        border-bottom: 5px solid #000000;
        }

    /* welcome */
    
    #welcome h2 {
        font-size: 30px;
        padding-top: 50px;
    }

    #welcome p {
        font-size: 30px;
        display: inline-table;
    }

    #welcome i {
        padding: 0%;
    }

    /* find us here */

    #find-us-here {
        font-size: 25px;
    }

    /* contact */

    #contact div {
        padding-bottom: 50px;
    }

    #contact h4 {
        font-size: 40px;
    }

    #contact p {
         font-size: 20px;
    }

    /* opening times */

    #opening-times h2 {
        font-size: 40px;
    }
    
    #opening-times h4 {
        font-size: 22px;
    }
    
    #opening-times  div {
        display: inline-table;
        margin-left: 40px;
    }

    /* food and games menus */

    #food-menu, #games-menu {
        margin-bottom: 100px
    }

    #food-menu div {
        padding-top: 50px;
    }

    #food-menu h1 {
        font-size: 40px;
    }

    #food-menu p {
        font-size: 20px;
    }

    #games-menu div {
        padding-top: 50px;
    }

    #games-menu h1 {
        font-size: 40px;
    }

    #games-menu p {
        font-size: 20px;
    }

    /* book a table */

    #book-a-table {
        font-size: 30px;
        margin-bottom: 600px;
    }

    #book-a-table h1 {
        font-size: 50px;
        padding-top: 50px;
    }

    #book-a-table label {
        text-align: center;
        font-size: 40px;
     }

    #book-a-table input {
       text-align: center;
       font-size: 25px;
    }

   /* footer */
    
    footer {
        clear: both;
    }

   .social-networks {
    margin-top: 100px;
   }

   .social-networks li {
    display: inline;
    font-size: 50px;
}

.social-networks i {
    width: 24%;
    color: #25adfc
}

/* media query for screens with min-width of 768 */

@media only screen and (min-width: 768px) {
     
    #contact p { font-size: 30px;

    }

    #opening-times  div {
      margin-left: 20px
    }
}

/* media query for screens with min-width of 1200 */

@media only screen and (min-width: 1200px) {
    
    #left-header {
       font-size: 50px;
       margin-left: 100px;
    }

    
    #right-header {
        font-size: 50px;
        margin-right: 100px;
    }

    #nav-bar {
        font-size: 50px;
    }

    #welcome h2 {
        font-size: 50px;
    }

    #welcome i {
        padding-left: 30px;
        padding-right: 30px;
    }

    #find-us-here {
        font-size: 40px;
    }

    #contact h4 {
        font-size: 50px;
    }

    #contact p {
        font-size: 40px;
    }

    #opening-times h2 {
        font-size: 50px;
    }

    #opening-times h4 {
        font-size: 40px;
    }

    #food-menu p {
        font-size: 30px;
    }

    #games-menu p {
        font-size: 30px;
    }

    }